.apropos {
        max-width: 1440px;
}

.contentCollapse{
    margin-top:50px;
    margin-bottom:50px;
}

@media (max-width: 375px) {
    .contentCollapse{
        margin-top:15px;
        margin-bottom:15px;
    }
}