.banner {
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.bannerImage{
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(70%);
}

.bannerText{
    color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: 48px;
}

@media (max-width: 375px) {
    .bannerText{
        font-size: 24px;
    }
}