.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 10px 80px;
    width: auto;
}

.logo-img{
    width: 150px;
    height: 100%;
    margin-top: 10px;
}

.nav-links {
  margin-top: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #FF6060;
    padding-left: 30px;
    font-size: 24px;
}

.nav-links a:hover {
    text-decoration: underline;
}

@media (max-width: 375px) {
    .nav {
      margin: 10px 10px;
      padding: 0px 0px;
    }
    .logo img {
      width: 100px;
      margin-top: 5px;
  }
    .nav-links {
      text-transform: uppercase;
      font-size: 12px;
      padding-top: 10px;
      padding-left: 10px;
      margin-top: 0;
    }
    .nav-links a {
      font-size: 12px;
  }
}