.etoiles {
    margin-top: 10px;
    margin-bottom: 20px;
}

.etoile {
    margin: 0px 5px;
    height: 24px;
}

@media (max-width: 375px) {
    .etoile {
        height: 13px;
    }

    .etoiles {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}