.gallery{
    position: relative;
    margin-top: 20px;
    max-height: 410px;
    max-width: 1240px;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 36%;
    min-width: 20px;
    max-width: 40px;
    z-index: 1;
}

.arrow-left {
    left: 10%;
}
  
.arrow-right {
    right: 10%;
}

.gallery-image {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

@media (max-width: 375px) {
    .gallery-image{
        height: 255px;
    }

    .arrow-left {
        left: 5%;
    }
      
    .arrow-right {
        right: 5%;
    }

    .arrow-left, .arrow-right {
        position: absolute;
        min-width: 10px;
        max-width: 20px;
        top: 26%;
        z-index: 1;
    }
}